html{
 scroll-behavior: smooth; 
}
body{
	color: black;
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
a{
	color: white;
	text-decoration: none;
}

header{
	align-items: center;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	height: 300px;
	background-color: rgba(229, 18, 39, 0.9);
}
.main-header .logo{
	align-self: stretch;
}
.main-header .logo .relative{
	position: relative;
	min-width: 100%;
	min-height: 100%;
}
.main-header .logo .relative img {
 	position: absolute;
	left: 20%;
	bottom: 50%;
    width: 60%;
    height: auto;
}
.main-header div{
	min-height: 100%;
	min-width: 30%;
	max-width: 33%;
}
.navigation div:first-child{
	transition-property: transform;
	transition-duration: 0.5s;
}
.navigation div:first-child:hover{
	transform: scale(1.1);
}
.navigation{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.navigation div{
	text-align: center;
	min-height: 40%;
	flex-wrap: wrap;
	min-width: 50%;
	max-height: 60%;

}
.navigation div:nth-child(1){
	font-weight: 700;
	font-size: 32px;	
}
.navigation div:nth-child(2){
	font-weight: 600;
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	color: rgb(47, 46, 46, 0.8);
}	
.menu{
	box-sizing: border-box;
	padding: 2% 0%;
	align-self: stretch;

}
.menu .wrapper{
	box-sizing: border-box;
	padding-top: 10%;
	min-width: 90%;
	min-height: 100%;
}
.menu .wrapper ul li{
	transition-property: transform;
	transition-duration: 0.4s;
}
.menu .wrapper ul li:hover{
transform: scale(1.1);
} 
.menu .wrapper ul{
	display: flex;
	font-size: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}











main .action{
	background: rgb(255, 215, 153, 0.5);
	display: flex;
	justify-content: space-around;
	height: 720px;
}

main .action > div{
	min-width: 26%;
	max-width: 30%;	
}

.action .woman .relative{
	position: relative;
	min-width: 100%;
	min-height: 100%;
}
.action .woman .relative img{
	position: absolute;
	left: 0%;
	bottom: 0%;
    width: 100%;
    height: auto;
}
.action .timer{
	background: rgba(255, 215, 153, 1);
	border-radius: 10px;
	align-self: center;
	text-align: center;
	height: 68.3%;
}
.action .timer .wrapper{
	color: black;
	margin: 10% 10%;
	margin-top: 20%
}
.action .timer .wrapper h1{
	text-transform: uppercase;
	font-size: 26px;
	
}
#timer{
	color: black;
	text-transform: none;
}
.action .timer .wrapper p{
	text-transform: uppercase;
	font-size: 30px;
}

.action .timer .wrapper p span{
	width: 10%;
	font-size: 40px;
	text-decoration: underline;
	color: lightblue;
	animation-name: go;
	animation-iteration-count: infinite;
	animation-duration: 0.6s;
	animation-direction: alternate;
}
@keyframes g{
	from{
		color: lightblue;
		font-size: 40px;
	}
	to{
		color: yellow;
		font-size: 50px;
	}
}
.action .timer .wrapper .last-price{
	text-decoration: line-through;
	color: purple;
}
.action .form{
	flex-shrink: 0.5;
	box-sizing: border-box;
	height: 68.3%;
	background: rgba(255, 215, 153, 1);
	border-radius: 10px;
	padding-top: 3%;
	align-self: center;
	display: block;	
	color: black;
	font-size: 125%;
}
fieldset{
	border-radius: 10px;
	border: 5px solid white;
}
input{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 80%;
	margin-top: 7%;
	height: 20px;
	color: black;
	background: white;
	border-radius: 3px;
	border: 0px;
	transition-duration: 0.6s;
}
input[type="submit"]{
	height: 30px;
	transition-duration: 0.6s;
}
input[type="submit"]:hover{
	transform: scale(1.1);
}
input[type="email"]:hover{
	transform: scale(1.1);
}
input[type="text"]:hover{
	transform: scale(1.1);
}
textarea:hover{
	transform: scale(1.1);
}
input[type="reset"]{
	height: 30px;
	transition-duration: 0.6s;
}
input[type="reset"]:hover{
	transform: scale(1.1);
}
input[type="tel"]:hover{
	transform: scale(1.1);
}
textarea{
	color: black;
	border: none;
	border-radius: 6px;
	transition-duration: 0.6s;
}















main .reasons{
	box-sizing: border-box;
	padding: 1.5% 0%;
	text-align: center;
	min-width: 100%;
	height: 550px;
	background: rgba(165, 174, 134, 0.8);
}
.reasons h2{
	display: inline;
	border-bottom: 3px solid white;
	font-size: 36px;
	color: white;
	padding: 0;
	margin: 0;
}
.reasons .icons{
	margin: 0% 5%;
	margin-left: 7.5%;
	min-height: 90%;
	min-width: 90%;
	box-sizing: border-box;
	padding: 1% 5%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

}
.reasons .icons > div{
	flex-basis: 33%;
	box-sizing: border-box;
	padding: 0% 5%;	
	transition-property: transform;
	transition-duration: 0.5s
}
.reasons .icons > div:hover{
	transform: scale(1.1);
}

.reasons .icons .icon1 div{
	height: 100%;
	padding: 10% 10%;
	width: 70%; 
	box-sizing: border-box;
	background: rgba(165, 174, 134, 1) url('img/community.png');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-position: cover;
	background-size: 32%;
	border-radius: 2em;
	vertical-align: bottom;
}

.reasons .icons .icon2 div{
	height: 100%;
	padding: 10% 10%;
	width: 70%; 
	box-sizing: border-box;
	background: rgba(165, 174, 134, 1) url('img/action.png');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-position: cover;
	background-size: 35%;
	border-radius: 2em;
	vertical-align: bottom;
}
.reasons .icons .icon3 div{
	height: 100%;
	padding: 10% 10%;
	width: 70%; 
	box-sizing: border-box;
	background: rgba(165, 174, 134, 1) url('img/notes.png');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-position: cover;
	background-size: 35%;
	border-radius: 2em;
	vertical-align: bottom;
}
.reasons .icons .icon4 div{
	height: 100%;
	padding: 10% 10%;
	width: 70%; 
	box-sizing: border-box;
	background: rgba(165, 174, 134, 1) url('img/time.png');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-position: cover;
	background-size: 32%;
	border-radius: 2em;
	vertical-align: bottom;
}
.reasons .icons .icon5 div{
	height: 100%;
	padding: 10% 10%;
	width: 70%; 
	box-sizing: border-box;
	background: rgba(165, 174, 134, 1) url('img/first.png');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-position: cover;
	background-size: 32%;
	border-radius: 2em;
	vertical-align: bottom;
}
.reasons .icons .icon6 div{
	height: 100%;
	padding: 10% 10%;
	width: 70%; 
	box-sizing: border-box;
	background: rgba(165, 174, 134, 1) url('img/glasses.png');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-position: cover;
	background-size: 35%;
	border-radius: 2em;
	vertical-align: bottom;
}
.reasons .icons div div p{
	color: white;
	font-size: 14px;
	box-sizing: border-box;
	padding-top: 45%;
	margin-bottom: 0%;
	margin: 0;
}








main .map{
	min-width: 100%;
	height: 500px;
	background: rgba(54, 71, 78, 0.8);
}
.map{
	display: flex;
	justify-content: space-between;
}
.map div{
	box-sizing: border-box;
	padding: 2% 2%;
	height: 100%;
	min-width: 40%; 
}
.map > div:nth-child(2){
	flex-grow: 2;

}
.map div:nth-child(2) .wrapper{
	margin: 0% 0%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.wrapper p{
	margin:0;
}
.map div:nth-child(2) .wrapper div{
	color: rgba(176, 176, 176, 1);
	min-width: 35%;
	max-width: 40%;
	background: rgba(54, 71, 78, 1);
	max-height: 40%;
	border-radius: 10px;
	transition-duration: 0.8s;
	transition-property: transform;
}
.map div:nth-child(2) .wrapper div p{
	color: white;
}
.map div:nth-child(2) .wrapper div:hover{
	transform:scale(1.2);
}
	










footer{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	min-width: 100%;
	height: 150px;
	background-color: rgba(59, 56, 59, 1);
}
footer div{
	min-width: 30%;
	min-height: 100%;
}
.social {
	position: relative;
}
.social .wrapper{
	position: absolute;
	width: 70%;
	height: auto;
	left: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.social .wrapper a{
	filter: sepia(0.4);
}
.social .wrapper a:hover{
	filter: sepia(0);
}
footer .logo .relative{
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

footer .logo .relative img{
	position: absolute;
	left: 20%;
	bottom: 35%;
    width: 60%;
    height: auto;
}




footer .bonk .relative{
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

footer .bonk img{
	position: absolute;
	left: 35%;
	bottom: 30%;
    width: 30%;
    height: auto;
}
p{
	color: black;
}