body{
	color: black;
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
a{
	color: white;
	text-decoration: none;
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 100%;
	height: 300px;
	background-color: rgba(229, 18, 39, 0.9);
}

.main-header .logo img {
 margin-left: 10%;
	margin-top: 10%;
	width: 60%;
}

.main-header p{
	color: white
}
.main-header div{
	
	min-height: 80%;
	min-width: 30%;
	max-width: 33%;

}
.navigation{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.navigation div{
	text-align: center;
	min-height: 40%;
	flex-wrap: wrap;
	min-width: 50%;
	max-height: 60%;


}
.navigation div:nth-child(1){
	font-weight: 700;
	
	font-size: 32px;

	
}
.navigation div:nth-child(2){
	font-weight: 600;
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	color: rgb(47, 46, 46, 0.8);
}	

	
.action .woman img{
	margin-top: 23.5%;
    width: 100%;
}
main .action{
	display: flex;
	justify-content: space-around;
	height: 710px;
}

main .action > div{
	min-width: 25%;
	max-width: 30%;	
}


.action .timer{
	background: rgba(255, 215, 153, 1);
	border-radius: 10px;
	align-self: center;
	text-align: center;
	height: 68.3%;
	

}
.action .timer .wrapper{

	display: block;
}
.action .timer .wrapper h1{
	color: white;
	text-transform: uppercase;
	font-size: 26px;
	
}
#timer{
	text-transform: none;
}
.action .timer .wrapper p{
	color: white;
	text-transform: uppercase;
	font-size: 30px;
}

.action .timer .wrapper p span{
	width: 10%;
	font-size: 40px;
	text-decoration: underline;
	color: lightblue;
}
.action .timer .wrapper .last-price{
	text-decoration: line-through;
	color: purple;
}

.action .form{
	height: 40%;
	background: rgba(255, 215, 153, 1);
	border-radius: 10px;
	padding: 100px 0px;
	align-self: center;
	display: block;
	
}

fieldset{
	border-radius: 10px;
	border: 5px solid white;
}
input{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin-left: 8px;
	margin-top: 7%;
	height: 20px;
	color: purple;
	background: white;
	border-radius: 3px;
	border: 0px;
	transition-duration: 0.6s;
}
input[type="submit"]{
	height: 30px;
	transition-duration: 0.6s;
}
input[type="submit"]:hover{
	transform: scale(1.1);
}
input[type="email"]:hover{
	transform: scale(1.1);
}
input[type="text"]:hover{
	transform: scale(1.1);
}
textarea:hover{
	transform: scale(1.1);
}
input[type="reset"]{
	height: 30px;
	transition-duration: 0.6s;
}
input[type="reset"]:hover{
	transform: scale(1.1);
}
input[type="tel"]:hover{
	transform: scale(1.1);
}
textarea{
	margin-top: -20px;
	margin-left: 140px;
	transition-duration: 0.6s;
}

form{
	color: white;
	font-size: 20px;
}
main .reasons{
	min-width: 100%;
	height: 500px;
	background: rgba(165, 174, 134, 0.8);
}









main .map{
	min-width: 100%;
	height: 500px;
	background: rgba(54, 71, 78, 0.8);
}



footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 100%;
	height: 150px;
	background-color: rgba(59, 56, 59, 1);
}

footer div{
	min-width: 30%;
	min-height: 80%;
	box-sizing: border-box;
}
footer .social{
	padding-left: 60px;
	align-self: flex-start;
	display: inline-block;
}
 .social a{	
	display: inline-block;
	margin-right: 20px;
}
.social .wrapper{
	margin-left: 150px;
	margin-top: 40px
}
.social a img{
filter: sepia(0.4);
}
.social a:hover img{
filter: sepia(0);
}

footer .logo img{
	margin-left: 10%;
	margin-top: 2%;
	width: 50%;
}
footer .bonk img{
	width: 18%;
	margin-left:  26%;
}
p{
	color: black;
}